<h1><%= @employee.name %></h1>
<h3>Wage: $<%= @employee.wage %>/hr</h3>
<h3>Store ID: <%= @employee.store_id %></h3>
<h3>Employee ID: <%= @employee.id %></h3>

<p><%= link_to "Edit", edit_employee_path(@employee) %></p>
<p><%= link_to "Delete", edit_employee_path(@employee),
  :data => {:confirm => "You sure?", :method => "delete"} %></p>

<p><%= link_to "Return to employees", employees_path %></p>
