<!DOCTYPE html>
<html>
  <head>
    <title>Tuscan Stone Pizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class='nav-style'>
        <div class="nav">
          <ul>
            <li><%= link_to "Uploads", uploads_path %></li>
            <li><%= link_to "Employees", employees_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Stores", stores_path %></li>
            <li style="float:left"><%= link_to "Tuscan Stone", '/' %></li>
          </ul>
            <%= yield :nav %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
